<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
   <head>
       <meta charset="utf-8">
       <title>Mensaje</title>
       <link rel="stylesheet" 
       th:href="@{/bootstrap/css/bootstrap.css}">
   </head>
   <body>
   
    <div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/index}">Productos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <span class="text-white">Bienvenido: [[${#httpServletRequest.remoteUser}]]!</span>&nbsp;
      <form th:action="@{/logout}" method="post">
            <input type="submit" value="Salir"/>
</form>
    </div>
  </div>
</nav><br>
    </div><!-- fin container -->
   
   <br>
   <h2 class="fst-italic">Listado de Productos</h2>
       <table class="table table-hover table-dark table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Fecha de producción</th>
      <th scope="col">Imagen</th>
      <th>Eliminar</th>
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="producto:${productos}">
      <th scope="row" th:text="${producto.id}"></th>
      <td th:text="${producto.nombre}"></td>
      <td th:text="${producto.precio}"></td>
      <td th:text="${producto.fechaProduccion}"></td>
      <td><img th:src="@{/imagenes/{img}(img=${producto.imagen})}"
      width="50px"  height="50px"
      ></td>
      <td><button type="button" class="btn btn-danger">Eliminar</button></td>
      <td><button type="button" class="btn btn-info">Detalles</button></td>
    </tr>
    
  </tbody>
</table>

<div class="container-fluid">
        <footer class="jumbotron text-center" >
        &Copy;201241061@alumnos.utn.edu.mx<br>
        Desarrollado con SpringFramework & Bootstrap
        
        </footer>
    </div>
    
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
   </body>

</html>